<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration [
        <!ENTITY level_ROOT "INFO">
        <!ENTITY level_APPLICATION "INFO">
        ]
        >
<!-- shutdownHook="disable" verhindert, das der DB-Appender versucht was zu schreiben, obwohl die Datasource bereits geschlossen ist. -->
<Configuration name="Default" status="WARN" shutdownHook="disable">

    <Properties>
        <!-- Levels are ordered: TRACE < DEBUG < INFO < WARN < ERROR -->
        <!-- %date{yyyy-MM-dd HH:mm:ss.SSS}; [%-7X{USER}]; [%method:%line] -->
        <!-- Default if empty: %equals{%X{USER}}{}{SYSTEM}; %X{USER:-SYSTEM} funktioniert nicht mehr ? -->
        <!-- Postfix if not empty: %notEmpty{%X{USER} -} -->
        <Property name="PATTERN">%date{yyyy-MM-dd HH:mm:ss.SSS} - %5level - [%15.-15thread] - %replace{%-30.-30logger{0}}{ }{.} - %message%n</Property>

        <Property name="LOG_DIR">/opt/jvmapps/maven-proxy/logs</Property>
        <Property name="LOG_FILE">maven-proxy</Property>

        <Property name="LOG_DIRECTORY">${LOG_DIR:-${sys:user.home}/.java-apps/logs}</Property>
        <Property name="LOG_FILE_NAME">${LOG_FILE:-application}</Property>

        <Property name="fileRollover">${LOG_FILE_MAX_HISTORY:-30}</Property>
        <Property name="fileMaxSize">${LOG_FILE_MAX_SIZE:-10 MB}</Property>
        <Property name="fileMaxAge">${LOG_FILE_MAX_AGE:-30d}</Property>
    </Properties>

    <!-- ######################################################################################################################################## -->

    <!--    <BurstFilter level="DEBUG" rate="2" maxBurst="3" />-->

    <!-- ######################################################################################################################################## -->

    <Appenders>
        <Console name="CONSOLE_STD" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN_CONSOLE:-${PATTERN}}" />
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="ACCEPT" />
            </Filters>
        </Console>

        <Console name="CONSOLE_ERR" target="SYSTEM_ERR">
            <PatternLayout pattern="${PATTERN_CONSOLE:-${PATTERN}}" />
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
        </Console>

        <!-- /${date:yyyy-MM}/ -->
        <RollingFile name="FILE" fileName="${LOG_DIRECTORY}/${LOG_FILE_NAME}.log" filePattern="${LOG_DIRECTORY}/archiv/${LOG_FILE_NAME}_%d{yyyy-MM-dd}_%i.log.gz">
            <append>true</append>
            <immediateFlush>false</immediateFlush>
            <bufferSize>4096</bufferSize>

            <PatternLayout pattern="${PATTERN_FILE:-${PATTERN}}" />

            <Policies>
                <!--OnStartupTriggeringPolicy / -->
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="${fileMaxSize}" />
            </Policies>
            <DefaultRolloverStrategy max="${fileRollover}">
                <Delete basePath="${LOG_DIRECTORY}" maxDepth="2">
                    <IfFileName glob="*/${LOG_FILE_NAME}_*.log.gz" />
                    <IfLastModified age="${fileMaxAge}" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <Async name="FILE_ASYNC">
            <AppenderRef ref="FILE" />
        </Async>

    </Appenders>

    <!-- ######################################################################################################################################## -->

    <Loggers>
        <Logger name="jdk.httpclient.HttpClient" additivity="false" level="&level_APPLICATION;">
            <AppenderRef ref="FILE_ASYNC" />
        </Logger>

        <Logger name="de.freese" additivity="false" level="&level_APPLICATION;">
            <AppenderRef ref="FILE_ASYNC" />
        </Logger>

        <Root level="&level_ROOT;">
            <AppenderRef ref="CONSOLE_STD" />
            <AppenderRef ref="CONSOLE_ERR" />
            <AppenderRef ref="FILE_ASYNC" />
        </Root>
    </Loggers>

</Configuration>
